{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Django 1 - Index</title>
</head>
<body>
    <center>
    <h1>Index</h1>
    <img src="{% static 'images/vara.bmp' %}" alt="">
    <h2>{{curso}}</h2>
    <p>{{info}}</p>
    <table>
        <thead>
            <tr>
                <th>
                    produto                
                </th>
                <th>
                    preço              
                </th>
                <th>
                    seila

                </th>
            </tr>
        </thead>
        <tbody>
    {% for produto in produtos%}
        <tr>
            <td><a href="{% url 'produto' produto.id %}">
                {{produto.nome}}
            </a>
            </td>
            <td>{{produto.preco}}</td>
        </tr>
    {% endfor %} 
        </tbody>
    </table>

    <button onclick="teste();">Clique-me</button>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</center>
</body>
</html>